roles[0].name = geerlingguy.ansible
roles[1].name = geerlingguy.apache
roles[2].name = geerlingguy.docker
roles[3].name = geerlingguy.firewall
roles[4].name = geerlingguy.git
roles[5].name = geerlingguy.java
roles[6].name = geerlingguy.jenkins
roles[7].name = geerlingguy.mysql
roles[8].name = geerlingguy.nginx
roles[9].name = geerlingguy.nodejs
roles[10].name = geerlingguy.passenger
roles[11].name = geerlingguy.pip
roles[12].name = geerlingguy.php
roles[13].name = geerlingguy.php-mysql
roles[14].name = geerlingguy.ruby
roles[15].name = geerlingguy.solr
roles[16].name = geerlingguy.elasticsearch
roles[16].version = 5.0.0
roles[17].name = geerlingguy.elasticsearch-curator
roles[17].version = 2.1.0
roles[18].name = geerlingguy.kibana
roles[18].version = 4.0.0
roles[19].name = geerlingguy.logstash
roles[19].version = 5.1.0
roles[20].name = geerlingguy.filebeat
roles[20].version = 3.0.1
